.features {
  background-color: $c-blue;
  position: relative;
  padding: 76px 0 66px;
  color: $c-white;
  width: 100vw;

  &-background {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &-title {
    font-size: 28px;
    line-height: 37px;
    text-align: center;
  }

  &-container {
    display: grid;
    grid-gap: 58px 53px;
    padding: 15px 52px 20px;
    grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(155px, 1fr));
    grid-auto-flow: row;

    &__cell {
      line-height: 23px;
    }
  }

  &-icon__small {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .features-container {
    grid-gap: 12px 5px;
    padding: 0;

    &__cell {
      padding: 0 10px;
    }
  }
}

@media screen and (max-width: 600px) {
  .dot {
    display: none;
  }

  .features {
    background-color: $c-white;
    color: $c-text;
    padding-top: 10px;
    padding-bottom: 0;

    &-container {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 52px 20px;

      &__cell {
        font-size: 19px;
        line-height: 23px;
        text-align: center;
      }
    }

    &-background {
      display: none;
    }

    &-icon {
      display: none;
    }

    &-icon__small {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
