.footer-bottom {
  height: 127px;
  background: $c-blue;
  // position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;

  &__logo {
    width: 10%;
  }

  &__navigation {
    width: 44%;

    &-list {
      display: flex;
      justify-content: space-around;
      list-style-type: none;

      // &--item {

      // }

    }
  }

  &__sm-icons {
    width: 20%;
    display: flex;
    justify-content: center;

    & a:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.bottom-link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: $c-white;
  transition: all 0.3s;

  &:hover {
    color: grey;
  }
}

.sm-icon {

  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 1100px) {
  .footer-bottom {
    justify-content: space-around;
    padding: 0 42px;

    &__navigation {
      width: 56%;

      &-list {
        justify-content: space-between;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .footer-bottom {
    order: 3;
    width: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;

    &__logo {
      width: auto;
    }

    &__navigation {
      width: 100vw;

      &-list {
        padding: 0;
        justify-content: space-around;
      }
    }

    &__sm-icons {
      width: 100%;
    }
  }

}
