@import "utils";

@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/appointment";
@import "./blocks/features";
@import "./blocks/feedbacks";
@import "./blocks/footer-bottom";
@import "./blocks/for-start";
@import "./blocks/main-content";
@import "./blocks/slider";

body {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
